@font-face {font-family: AnironBold; src: url(fonts/anirb___.ttf);}
@font-face {font-family: TengwarAnnatar; src: url(fonts/tngani.ttf);}
@font-face {font-family: PartyBusiness; src: url(fonts/partybusiness.ttf);}


.responsive-img{
    width: 100%;
    padding: 24px;
}
h1 {
    font-family: AnironBold;
    font-size: 1.5em;
}
.grey {
    color: rgba(30, 30, 30, 1);;
    font-family: AnironBold;
    font-size: 1em;
}
p {
    font-family: PartyBusiness;
}
.teng {
    font-family: TengwarAnnatar;
    color: rgba(254, 102, 29, 1);
}
.bg-light {
    padding: 24px;
    background-color: rgba(221, 221, 221, 1);
}
.bg-dark {
    padding: 24px;
    background-color: rgba(30, 30, 30, 1);
    color: rgba(255, 255, 255, 1);
}
.bg-orange{
    background-color: rgba(254, 102, 29, 1);
}
.bg-orange a{
    color: rgba(255, 255, 255, 1);
    font-family: AnironBold;
    font-size: 1em;
}
.parallelogramme{
	width:100%;
	height:5px;
	background-color: rgba(254, 102, 29, 1);
	-webkit-transform:skew(-30deg);
	-moz-transform:skew(-30deg);
	-o-transform:skew(-30deg);
	tranform:skew(-30deg);
}
/*//////////////////////////////// navbar ///////////////////////////////////*/
.hey{
    color: rgba(255, 255, 255, 1);
    z-index: 9000;
}
.navbar-brand{
    padding-right: 24px;
}
.lineal{
    font-family: sans-serif;
    color: rgba(255, 255, 255, 1);
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
}
.active {
    border-bottom: 5px solid rgba(255, 255, 255, 1);
}

/*//////////////////////////////// Slider ///////////////////////////////////*/

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}
h5{
    font-family: PartyBusiness;
    font-size: 4em;
    text-align: left;
}
h6{
    font-family: PartyBusiness;
    font-size: 2.5em;
    text-align: left;
}
@media screen and (max-width: 991.98px){
    h6{
    display: none;
}
}

/*//////////////////////////////// Fellows wanted dead ///////////////////////////////////*/

.margin{
    padding: 24px;
}

h3{
    font-family: PartyBusiness;
    color: rgba(255, 255, 255, 1);
    font-size: 4em;
    text-align: center;
}
.description{
    color: rgba(221, 221, 221, 1);
    font-family: PartyBusiness;
    font-size: 2em;
    text-align: left;
}
.black08{
    font-family: AnironBold;
    font-size: 0.8em;
}
.bg-light a{
    color: rgba(30, 30, 30, 0.7);
    font-family: AnironBold;
    font-size: 1.2em;
}

.active2 {
    color: rgba(254, 102, 29, 1);
    border-bottom: 5px solid rgba(254, 102, 29, 1);
}
.fiche-image{
    opacity: 0.8;
}
.survol:hover .fiche-image{
    opacity: 1;
}
.fiche-image2{
    opacity: 0.5;
}
.fiche-texte{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6%;
}
.fiche-haut {
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(0,0,0);
    border-radius: 12px;
    padding: 6%;
    margin: 6%;
    font-size: 2em;
    text-align:center;
}
.survol:hover .fiche-haut {
    visibility: hidden;
}
.fiche-bas{
    color: rgb(255,255,255);
    text-align:center;
    padding-top: 24%;
}
.fiche-orange{
    color: rgba(254, 102, 29, 1);
}
.fiche-orange2{
    font-family: PartyBusiness;
    color: rgba(254, 102, 29, 1);
    font-size: 4em;
    text-align: center;
}
.line-through{
    text-decoration: line-through;
    text-decoration-color: rgba(254, 102, 29, 0.8); 
}

/*//////////////////////////////// I have captured ///////////////////////////////////*/

.captured-btn{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(254, 102, 29, 1);
    font-family: AnironBold;
    font-size: 1.8em;
    text-align: center;
    border: none;
    padding: 12px;
    align-self: center;
}

/*//////////////////////////////// Our best hunters ///////////////////////////////////*/

.partyBusiness-orange{
    color: rgba(254, 102, 29, 1);
    font-family: PartyBusiness;
    font-size: 3.5em;
    text-align: left;
    line-height: 0.7em;
}

.hunters-btn{
    background-color: rgba(30, 30, 30, 1);
    color: rgba(254, 102, 29, 1);
    font-family: PartyBusiness;
    font-size: 1.5em;
    text-align: left;
    border: none;
}

/*//////////////////////////////// About the ring  ///////////////////////////////////*/

h4{
    background-color: rgba(254, 102, 29, 1);
    font-family: AnironBold;
    color: rgba(255, 255, 255, 1);
}
.bg-light-card{
    padding: 24px;
    margin: 24px;
    background-color: rgba(221, 221, 221, 1);
    border-bottom: 5px solid rgba(254, 102, 29, 1);
}
.table tr{
    font-family: AnironBold;
    font-size: 1.2em;
    color: rgba(30, 30, 30, 1);
    border-bottom: 2px solid rgba(30, 30, 30, 1);
}

/*//////////////////////////////// Join Mordor Army  ///////////////////////////////////*/
.join1{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.join2{
    color: rgba(254, 102, 29, 1);
    font-family: AnironBold;
    font-size: 1.2em;
    text-align: center;
}
.join-btn{
    align-self: center;
    background-color: rgba(30, 30, 30, 1);
    color: rgba(254, 102, 29, 1);
    font-family: AnironBold;
    font-size: 1.2em;
    text-align: center;
    border: none;
    padding: 12px;
    box-shadow: 3px 3px 10px 0px #888888;
}

/*//////////////////////////////// Contact us  ///////////////////////////////////*/

/*//////////////////////////////// Footer  ///////////////////////////////////*/
.footer{
    background-color: rgba(254, 102, 29, 1);
}
.footer a{
    color: rgba(255, 255, 255, 1);
    font-family: AnironBold;
    font-size: 0.8em;
    line-height: 3em;
}
.footer ul {
    list-style:none;
}